<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>badge</key>
	<array>
		<string>badge_android</string>
		<string>badge_apple</string>
		<string>badge_game</string>
		<string>badge_camera</string>
		<string>badge_music</string>
		<string>badge_palette</string>
		<string>badge_ball</string>
		<string>badge_pet</string>
		<string>badge_plane</string>
		<string>badge_star</string>
		<string>badge_steve</string>
		<string>badge_tech</string>
		<string>badge_wine</string>
		<string>badge_bubble</string>
		<string>badge_heart</string>
		<string>badge_weather</string>
		<string>badge_tag</string>
		<string>badge_building</string>
		<string>badge_local</string>
		<string>badge_plane_up</string>
		<string>badge_meditation</string>
		<string>badge_bike</string>
		<string>badge_science</string>
		<string>badge_tieba</string>
		<string>badge_zhihu</string>
		<string>badge_taobao</string>
		<string>badge_alipay</string>
		<string>badge_weixin</string>
		<string>badge_pinterest</string>
		<string>badge_weibo</string>
		<string>badge_renren</string>
		<string>badge_twitch</string>
		<string>badge_twitter</string>
		<string>badge_dribbble</string>
		<string>badge_facebook</string>
		<string>badge_whatsapp</string>
		<string>badge_instagram</string>
		<string>badge_linkedin</string>
		<string>badge_snapchat</string>
		<string>badge_tumblr</string>
		<string>badge_slack</string>
		<string>badge_reddit</string>
		<string>badge_skype</string>
		<string>badge_dropbox</string>
		<string>badge_github</string>
		<string>badge_python</string>
		<string>badge_html5</string>
		<string>badge_playstation</string>
		<string>badge_xbox</string>
	</array>
</dict>
</plist>
